/* primary font link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* secondary font link */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.poppins-thin {
    font-family: "Poppins", sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */


.primary-color {
    color: #3A3A3A;
}

.flex {
    display: flex;
}

.btn {
    border: 0;
    color: white;
    background-color: #E02C6D;
    padding: 13px 26px;
    border-radius: 41px;
}



/* main css */



/* header section  */

/* nav section  */
nav {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 40px 0;
}

.navbar-icon {
    display: none;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.manu {
    gap: 34px;
}

.manu li {
    list-style: none;
}

.manu li a {
    text-decoration: none;
    color: #3A3A3A;
}

.manu i {
    font-size: 20px;
}

main {
    max-width: 1110px;
    margin: 0 auto;
}

main>section {
    margin-top: 100px;
}

/* banner section  */

.banner-container {
    max-width: 1155px;
    margin: 0 auto;
    gap: 130px;
    align-items: center;
}

.banner-heading {
    font-size: 52px;
    line-height: 70px;
    font-weight: bold;
}

#banner p {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

#banner .btn {
    display: inline-flex;
    gap: 10px;
}

.img-2 {
    padding: 20px 0 0 20px;
}

.banner-img {
    background: url(../images/Circle\ design.svg);
}


/* sponsor section  */
#sponsor {
    display: flex;
    gap: 61px;
    border-top: 1px solid rgba(71, 67, 67, 0.178);
    border-bottom: 1px solid rgba(71, 67, 67, 0.178);
    padding: 20px;
    justify-content: center;
    align-items: center;
}


/* card section  */
.container-h{
    text-align: center;
    margin-bottom: 1.85rem;
}
#card .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    max-width: 329px;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
}

.card .card-title {
    font-size: 28PX;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 6px;
}

.card p {
    font-size: 24px;
}

.card .doller {
    font-size: 14px;
    margin-left: 10px;
    color: #787885;
}

.card .text {
    font-size: 14px;
    font-weight: bold;
    color: #787885;
}

.card-btn {
    margin-top: 50px;
    border: 0;
    font-size: 16px;
    background-color: white;
    color: rgba(224, 44, 109, 0.87);
    text-align: right;
}

.card-btn img {
    color: rgba(224, 44, 109, 0.87);
}

.button-1 {
    display: grid;
    justify-content: end;
}

/* features section  */
.feature-container {
    display: flex;
    gap: 96px;
}

.feature-content {
    padding: 10px;
}

.feature-text {
    max-width: 500px;
    margin: 15px 0;
}

#feature .btn {
    display: flex;
    gap: 8px;
    font-size: 16px;
    border-radius: 0;
    padding: 13px 30px;
}

/* footer section  */
footer {
    background-color: #0A0826;
    color: white;
}

footer .content {
    max-width: 262px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}

footer .footer-heading {
    font-size: 24px;
    font-weight: bold;
}

footer P {
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
}

.footer-last-text {
    margin-bottom: 17px;
}

.social-icon {
    display: flex;
    gap: 16px;
    justify-content: center;
    font-size: 20px;
}

.hide {
    display: none !important;
}


/* phone responsive */
@media screen and (max-width:576px) {
    .banner-container, .feature-container {
        flex-direction: column;
        gap: 14px;

    }

    main>section {
        margin-top: 50px;
    }

    .list {
        display: none;
    }

    .logo {
        font-size: 16px;
    }

    .navbar-icon {
        display: block;
    }

    .manu {
        gap: 10px;
    }

    .banner-content, .feature-img {
        order: 2;
        padding: 0;
        margin: 0;
    }

    .banner-img {
        order: 1;
        width: 257px;
        height: 257px;
        background-position: center;
        background-size: cover;
    }

    .banner-heading {
        font-size: 28px;
        text-align: center;
        margin: 0;
        padding: 0;
        line-height: 44px;
    }

    .banner-img img {
        width: 257px;
        height: 257px;
    }

    #banner P {
        font-size: 14px;
        text-align: center;
        max-width: 320px;
        margin: 0 auto;
    }

    .banner-btn {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    #sponsor {
        /* max-width: 257px; */
        margin: 0 auto;
        border: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 0;
        
    }

    #sponsor img {
        width: 60px;
    }

    #card .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    
    .feature-heading{
        font-size: 24px;
        text-align: center;
    }
    .feature-text{
        font-size: 16px;
        line-height: 28px;
    }
    .feature-img img{
        width: 100%;
    }

}