/* font link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin {
  font-family: "Poppins", sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */


.primary-color{
    color: #3A3A3A;
}

.flex{
    display: flex;
}

.btn{
    border: 0;
    color: white;
    background-color: #E02C6D;
    padding: 13px 26px ;
    border-radius: 41px;
}



/* main css */



/* header section  */

/* nav section  */
nav{
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 40px 0 ;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}
.manu{
    gap: 34px;
}
.manu li{
    list-style: none;
}
.manu li a{
    text-decoration: none;
    color: #3A3A3A;
}
.manu i{
    font-size: 20px;
}

/* banner section  */

.banner-container{
    max-width: 1155px;
    margin: 0 auto;
    gap: 130px;
    align-items: center;
}

.banner-heading{
    font-size: 52px;
    line-height: 70px;
    font-weight: bold;
}
#banner p{
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}
#banner .btn {
    display: inline-flex;
    gap: 10px;
}

.img-1{
    width: 100%;
}
.img-2{
    position: absolute;
    top: 20%;
    left: 66%;
    width: 370px;
}